.container {
  text-align: center;
  max-width: 900px;
}

.App-header {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.results {
  font-size: 22px;
  font-weight: 500;
  margin-top: 50px;
}

.App-footer {
  font-size: 12px;
  text-align: center;
  padding: 30px;
  margin: 50px auto;
  margin-top: 30px;
}
